@font-face {
    font-family: 'roboto-l', sans-serif ;
    src: url(../fonts/Roboto-Light.ttf);
}
html{font-family: 'roboto-l', sans-serif;}

body{
    margin: 0;
}

ul{list-style: none;}


#seccion .contenedor { 
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.carta{
    padding: 25px;
}

.contenedor{
    max-width: 1400px;
    margin: auto;;
    display: flex;
}

header .logo{ 
    margin: 0;
    padding: 25px;
    font-weight: bold;
    color: blueviolet;
    font-size: 3rem;
}

header .contenedor{ 
    display: flex;
    justify-content: space-between;
    text-align: center;
    height:10vh;
    background-color: rgb(0, 0, 0);
}

header nav{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.navbar-brand{font-size: 2rem;}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover{color: blueviolet;}

#banner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column ;
    height: 70vh;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#banner h1{
    color: rgba(255, 255, 255, 0.905);;
}
h1{font-size: 3.5rem;}
h3{font-size: 1,5rem;}
/* h2{color: white;} */

button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0,5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0,5);
    color: white;
    background-color: blueviolet;
}
button:hover{background-color: rgb(49, 5, 90);}



#carta__articulo{
    text-align: center;
    background-color: grey;
    color: whitesmoke;
}
#carta__articulo .contenedor{
    padding: 100px
}

.carta_artic{
    display: flex;
    justify-content: center;
    height: auto;
}
    #carta__articulo p{
    display: none;
    }
    
    .carta{ 
        padding: 25px;
        ;}
    .carta__articulo:first-child{background-image: url("img/zapa1.jpeg");
    padding: 100px;
    }

    .carta__articulo:nth-child(2){background-image: url("img/zapa2.jpeg");
    padding: 200px;
    }

    .carta__articulo:nth-child(3){background-image: url("img/zapa3.jpeg");

    }

    #seccion{display: flex;
        justify-content: space-between;

    }
    .card{
    text-align: center;
    background-color: lightblue;
    color: aqua;
    padding: 10px;
}

.carousel-inner{height: 70vh;}

